.header-spacer {
    flex: 1 1 auto;
    background-color: beige;
}

.header-toolbar {
    background-color: darkgray;

    .header-title {
        padding-left: 20px;
    }
}

.title-name {
    padding-left: 50%;
}

.table-date {
    padding-left: 40%;

}

.sidenav-container {
    width: auto;
    height: 200px;
    border: 1px solid #555;
    min-height: 100vh;

    .sidebar {
        background-color: darkgrey;
        width: 250px;
    }

    /* The background property is added to clearly distinguish the borders between drawer and main
       content */
    .main-content {
        background-color: rgb(252, 253, 253);
    }
}